@import "./scss.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.buttons {
  width: 100%;
  height: 100vh;
  background: #ddd;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

/* BUTTONS */
.BTN {
  padding: 10px 24px;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 6px;
  background: rgb(0, 134, 223);
  font-size: 18px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.BTN:hover {
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
}
.BTN-cute {
  background: rgb(255, 45, 115);
}
.BTN-decline {
  background: rgb(255, 0, 0);
}
.BTN-accept {
  background: rgba(0, 250, 145);
}
.BTN-steam {
  background: rgb(202, 200, 200);
}
.BTN-sunshine {
  background: rgb(255, 174, 0);
}
.BTN-widow {
  background: rgb(34, 34, 34);
}

/* FORMS */
.form {
  width: 100%;
  min-height: 100vh;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form h1 {
  margin-bottom: 30px;
}

.form form label {
  position: relative;
  top: 40px;
  font-size: 24px;
  transition: all 300ms ease-in-out;
}
.form form input {
  width: 500px;
  height: 40px;
  background: transparent;
  border: none;
  border-bottom: 3px solid red;
  outline: none;
  font-size: 20px;
  font-weight: 400px;
}
