.chatContainer::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
.chatContainer::-webkit-scrollbar-track {
  border: 2px solid rgba(161, 161, 161, 0.2);
}
.chatContainer::-webkit-scrollbar-thumb {
  background: rgba(117, 116, 116, 0.5);
  width: 2px;
}

.messages ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.messages ul li {
  position: relative;
  max-width: 800px;
  display: inline-block;
  clear: both;
  padding: 16px;
  color: #fff;
  margin-bottom: 6px;
  word-break: break-word;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}
#me {
  float: right;
  background: #0077ff;
  border-radius: 30px 0px 30px 30px;
  margin-right: 6px;
}
#them {
  float: left;
  background: #3a4046;
  border-radius: 0px 30px 30px 30px;
  margin-left: 6px;
}
#them + #me {
  border-top-right-radius: 5px;
}
#me + #me {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#me:last-of-type {
  border-bottom-right-radius: 30px;
}

/* 1000px width */

@media screen and (max-width: 1000px) {
  .messages ul li {
    max-width: 300px;
  }
}
